@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* background-color: cornflowerblue; */
}


main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

main>.wlco_txt_container {
    display: inherit;
    flex-direction: inherit;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.txt_cnt {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    text-align: center;
    /* gap: .5rem;   */
}

.wlco_txt_container>img {
    width: 400px;
    height: 400px;
}

.wlco_txt_container>a {
    background-color: #0072D5;
    padding: .3rem 3rem;
    color: #ffffff;
    border-radius: 1rem;
}

.sec-loading {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-loading .one {
    height: 60px;
    width: 60px;
    border: 6px solid #0072D5;
    transform: rotate(45deg);
    border-radius: 0 50% 50% 50%;
    position: relative;
    animation: move 0.5s linear infinite alternate-reverse;
}

.sec-loading .one::before {
    content: "";
    position: absolute;
    height: 55%;
    width: 55%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #0072D5;
    border-bottom-color: #0072D5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes move {
    to {
        transform: translateY(15px) rotate(45deg);
    }
}


@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}



footer {
    width: 100%;
    height: 2rem;
    /* padding-top: 1rem; */
    display: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0072D5;
    color: #ffffff;
    font-weight: 400;
    font-size: .8rem;
}

@media screen and (max-width: 570px) {
    .wlco_txt_container>img {
        width: 250px;
        height: 250px;
    }

    .txt_cnt {
        gap: .3rem;
    }

    .txt_cnt h1 {
        font-size: 1.3rem;
    }

    .txt_cnt p {
        font-size: .8rem;
    }

    footer p {
        font-size: .5rem;
    }
}